.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #45a049;
  padding: 8px 16px;
  border: 2px solid #3ea2ff;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 2px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search-container input {
  padding: 4px 8px;
  border: 1px solid #ccc;
  font-family: monospace;
}

.search-container button {
  background-color: #45a049;
  border: 1px solid #ccc;
  padding: 4px 8px;
  font-family: monospace;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-btn {
  background-color: #45a049; /* Зеленый фон */
  color: white; /* Белый цвет текста */
  border: none;
  padding: 10px 20px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.auth-btn:hover {
  background-color: #d3d3d3;  /* Становится серым при наведении */
  color: #333;  /* Текст темным при наведении */
}

.auth-btn:active {
  background-color: #f44336; /* Красный цвет фона при нажатии */
  color: white;  /* Белый цвет текста для кнопки "Выйти" */
}

/* Новые стили для отображения данных пользователя */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}
